.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter__title {
    margin-right: 20px;
  }
  .select {
    width: 50px;
    height: 30px;
    border: none;
    margin-right: 20px;
  }
  .page__btn {
    width: 600px;
    display: flex;
    align-items: center;
    .page__btn__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      padding: 8px 8px;
      border: 1px solid #dadada;
      border-radius: 4px;
      cursor: pointer;
    }
    .page__btn__list {
      display: flex;
      .page__btn__list__item {
        width: 36px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        border-color: #dadada;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
#clicked {
  border-color: #989898;
  background-color: #e4e4e4;
}
#disabled {
  border-color: #f8f8f8;
  color: #b4b4b4;
  cursor: default;
}
